<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>View Songs</title>
	<link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
	<link th:href="@{/styles/musicLibraryStyle.css}" rel="stylesheet" />
	
</head>
<body>
<div id="container">
	<h1>=== User <th th:text="${userInfo}"></th> ===</h1><br>
	--- Reviews ---<br>
	<form name="reviewList" id="border" >
		<tr th:each="currentReview: ${reviews}">
			<td th:text="${currentReview.user}" />
			<td> --- </td>
			<td th:text="${currentReview.title}" />
			<td> | </td>
			<td><a th:href="@{/deleteReview/{id}/{userInfo}(id=${currentReview.id}, userInfo=${userInfo})}">Delete Review</a></td><br>
			<td th:text="${currentReview.message}" />
			<br><br>
		</tr>
	</form>
	<form th:action="@{/addSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add a Song" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewAllSongs}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View All Songs" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>
	<form th:action="@{/viewAllGenres}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Genres" /><br>
	</form>
	<form th:action="@{/addReview}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Submit a Review" /><br>
	</form>
	</div>
	<a href="/redirectSignIn">Sign Out</a>

</body>
</html>