<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form>
		<tr th:each="currentSong: ${foundSongs}">
			<td th:text="${currentSong.title}" />
			<td> --- </td>
			<td th:text="${currentSong.artist}" />
			<td> | </td>
			<td th:text="${currentSong.genre}" />
			<td> | </td>
			<td><a th:href="@{/editSong/{id}(id=${currentSong.id})}">Edit</a></td>
			<td> | </td>
			<td><a th:href="@{/deleteSong/{id}(id=${currentSong.id})}">Delete</a></td><br>
		</tr>
	</form><br>
	<a href="addSong">Add a New Song</a><br>
	<a href="viewAllSongs">View All Songs</a>
</body>
</html>