<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Found Artists</title>
<link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
	<link th:href="@{/styles/musicLibraryStyle.css}" rel="stylesheet" />
</head>
<body>
<div id="container">
	<h1>=== User <th th:text="${userInfo}"></th> ===</h1><br>
	<form id="border">
		<tr th:each="currentArtist: ${foundArtists}">
			<td th:text="${currentArtist.artistName}" />
			<td> --- </td>
			<td th:text="${currentArtist.bio}" />
			<td> | </td>
			<td><a th:href="@{/viewArtist/{id}/{userInfo}(id=${currentArtist.id}, userInfo=${userInfo})}">View</a></td>
			<td> | </td>
			<td><a th:href="@{/editArtist/{id}(id=${currentArtist.id})}">Edit</a></td>
			<td> | </td>
			<td><a th:href="@{/deleteArtist/{id}(id=${currentArtist.id})}">Delete</a></td><br>
		</tr>
	</form><br>
<form th:action="@{/addSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add a Song" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewAllSongs}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View All Songs" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>
	<form th:action="@{/viewAllGenres}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Genres" /><br>
	</form>
	</div>
	<a href="/redirectSignIn">Sign Out</a>
</body>
</html>