<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Input Song</title>
</head>
<body>
	=== User <th th:text="${userInfo}"></th> ===<br>
	<form th:object="${newSong}" th:action="@{/updateSong/{id}/(id=${newSong.id})}" method='POST'>
		Title: <input name="title" size="20" th:field="*{title}"><br>
		<label for="artistSelect" >Artist: </label><select id="artistSelect" th:field="${artist}">
			<option value="0">Select Artist</option>
			<option th:each="artist : ${artist}" th:value="${artist.id}" th:text="${artist.artistName}"></option>
			</select><br>
		<label for="genreSelect" >Genre:  </label><select id="genreSelect" th:field="${genre}">
			<option value="0">Select Genre</option>
			<option th:each="genre : ${genre}" th:value="${genre.id}" th:text="${genre.genreName}"></option>
			</select><br>
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Submit" />
	</form>
	<form th:action="@{/viewAllSongs}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View all Songs" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
</body>
</html>