<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Genre</title>
</head>
<body>
=== User <th th:text="${userInfo}"></th> ===<br>
<form th:object="${newGenre}" th:action="@{/updateGenre/{id}/(id=${newGenre.id})}" method='POST'>
	Name: <input name="genreName" size="20" th:field="*{genreName}"><br>
	<input name="userInfo" type="hidden" th:value="${userInfo}" />
	<input name="submit" type="submit" value="Submit" /><br>
</form>	
	<form th:action="@{/viewAllPlaylists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Show Playlists" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewAllSongs}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Songs" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>
	<form th:action="@{/viewAllGenres}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Genres" /><br>
	</form>
</body>
</html>