<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Select a Playlist</title>
</head>
<body>
<form>
	<tr th:each="playlist : ${playlists}"></option>
		<td th:text="${playlist.playlistName}" />
		<td> | </td>
		<td><td><a th:href="@{/addToPlaylist/{id}/{userInfo}/{playlistId} (id=${id}, userInfo=${userInfo}, playlistId=${playlist.id})}">Add Song To Playlist</a></td>
		<td><br>
	</tr>
	
</form>
<form th:action="@{/addSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add a Song" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>
	<form th:action="@{/viewAllGenres}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Genres" /><br>
	</form>
	<a href="/redirectSignIn">Sign Out</a>
</body>
</html>