<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Songs</title>
</head>
<body>
	=== User <th th:text="${userInfo}"></th> ===<br>
	--- Search For Song ---<br>
	<form th:action="@{/searchForSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		Title: <input name="title" size="20"><br>
		Artist: <input name="artist" size="20"><br>
		Genre: <input name="genre" size="20" ><br>
		<input name="submit" type="submit" value="Submit" />
	</form>
	--- List of Songs ---<br>
	<form>
		<tr th:each="currentSong: ${songs}">
			<td th:text="${currentSong.title}" />
			<td> --- </td>
			<td th:text="${currentSong.artist}" />
			<td> --- </td>
			<td th:text="${currentSong.genre}" />
			<td> | </td>
			<td><a th:href="@{/editSong/{id}/{userInfo}(id=${currentSong.id}, userInfo=${userInfo})}">Edit</a></td>
			<td> | </td>
			<td><a th:href="@{/deleteSong/{id}/{userInfo}(id=${currentSong.id}, userInfo=${userInfo})}">Delete</a></td><br>
		</tr>
	</form>
	<form th:action="@{/addSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add a Song" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
	<a href="/redirectSignIn">Sign Out</a>
</body>
</html>