<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
	<link th:href="@{/styles/musicLibraryStyle.css}" rel="stylesheet" />
<title>View Playlist</title>
</head>
<body>
<div id="container">
<h1>View Playlist</h1>
<form id="border" th:object="${viewPlaylist}" th:action="@{/viewPlaylist/{id}/{userInfo}(id=${viewPlaylist.id}, userInfo=${userInfo})}" method='POST'>
	<h2 th:text="${viewPlaylist.playlistName}" ></h2>
</form>
<form id="border">
		<tr th:each="currentSong: ${playlistSongs}">
			<td th:text="${currentSong.title}" />
			<td> --- </td>
			<td th:text="${currentSong.artist}" />
			<td> --- </td>
			<td th:text="${currentSong.genre}" />
			<td> | </td>
	
		</tr>
	</form>
	<form th:action="@{/addSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add a Song" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewAllSongs}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View All Songs" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>
	<form th:action="@{/viewAllGenres}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Genres" /><br>
	</form>
	</div>
	<a href="/redirectSignIn">Sign Out</a>
</body>
</html>