<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Artists</title>
</head>
<body>
	=== User <th th:text="${userInfo}"></th> ===<br>
	--- Search For Genre ---<br>
	<form th:action="@{/searchForGenre}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		Name: <input name="genreName" size="20"><br>
		<input name="submit" type="submit" value="Submit" />
	</form>
	--- List of Artists ---<br>
	<form>
		<tr th:each="currentGenre: ${genres}">
			<td th:text="${currentGenre.genreName}" />
			<td> | </td>
			<td><a th:href="@{/viewGenre/{id}/{userInfo}(id=${currentGenre.id}, userInfo=${userInfo})}">View</a></td>
			<td> | </td>
			<td><a th:href="@{/editGenre/{id}/{userInfo}(id=${currentGenre.id}, userInfo=${userInfo})}">Edit</a></td>
			<td> | </td>
			<td><a th:href="@{/deleteGenre/{id}/{userInfo}(id=${currentGenre.id}, userInfo=${userInfo})}">Delete</a></td>
			<td> | </td>
			<br>
		</tr>
	</form>
	<form th:action="@{/newGenre}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add A Genre" /><br>
	</form>
	<form th:action="@{/viewAllPlaylists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Show Playlists" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewAllSongs}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Songs" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>