<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>View Songs</title>
	<link th:href="@{/styles/musicLibraryStyle.css}" rel="stylesheet" />
<script>

	function checkIfNull(){
		if(document.songList.userId.value == null){
			alert("Playlist not selected");
			return false;
		}
		if(document.songList.playlistId.value == null || document.songList.playlistId.value == 0){
			alert("Playlist not selected");
			return false;
		}
		return true;
		
	}



</script>
</head>
<body>
	=== User <th th:text="${userInfo}"></th> ===<br>
	--- Search For Song ---<br>
	<form th:action="@{/searchForSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		Title: <input name="title" size="20"><br>
		Artist: <input name="artist" size="20"><br>
		Genre: <input name="genre" size="20" ><br>
		<input name="submit" type="submit" value="Submit" />
	</form>
	--- List of Songs ---<br>
	<form th:action="@{/addToPlaylist}" name="songList">
		<tr th:each="currentSong : ${songs}">
			<td th:text="${currentSong.title}" />
			<td> --- </td>
			<td th:text="${currentSong.artist}" />
			<td> --- </td>
			<td th:text="${currentSong.genre}" />
			<td> | </td>
			<td><a th:href="@{/editSong/{id}/{userInfo}(id=${currentSong.id}, userInfo=${userInfo})}">Edit</a></td>
			<td> | </td>
			<td><a th:href="@{/deleteSong/{id}/{userInfo}(id=${currentSong.id}, userInfo=${userInfo})}">Delete</a></td>
			<td> | </td>
			<td><label for="playlistsSelect" >Add To Playlist </label>
			<td><select id="playlistsSelect" name="playlistsSelect" th:field="${playlists}">
				<option value="0" selected>Select Playlist</option>
				<option th:each="playlist : ${playlists}" th:value="${playlist.id}" th:text="${playlist.playlistName}"></option>
			</select>
			</td>
			<td> | </td>
			<td><input name="userInfo" type="hidden" th:value="${userInfo}" /></td>
			<td><input name="playlistId" type="hidden" th:value="${playlistsSelect.index.id}" /></td>
			<td><input name="id" type="hidden" th:value="${currentSong.id}" /></td>
			
			<td><button type="submit" onclick="checkIfNull()">Add to Playlist</button></td>
			<td><br>
		</tr>
	</form>
	<form th:action="@{/addSong}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Add a Song" /><br>
	</form>
	<form th:action="@{/addPlaylist}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Create Playlist" /><br>
	</form>
	<form th:action="@{/viewProfile}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="Profile" /><br>
	</form>
	<form th:action="@{/viewAllArtists}">
		<input name="userInfo" type="hidden" th:value="${userInfo}" />
		<input name="submit" type="submit" value="View Artists" /><br>
	</form>
	<a href="/redirectSignIn">Sign Out</a>
</body>
</html>